@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #030712;
  color: white;
}

img {
  width: 300px;
  height: 300px;
}


.product-skeleton {
    width: 300px;
    height: 420px;
    border-radius: 10px;
    background-color: gray;
    padding: 10px;
}

.product-skeleton-image {
  background-color: whitesmoke;
  height: 300px;
  animation: blingking .9s infinite;
}
.product-skeleton-title {
  margin-top: 10px;
  background-color: whitesmoke;
  height: 25px;
  animation: blingking .8s infinite;
}
.product-skeleton-category {
  margin-top: 10px;
  background-color: white;
  height: 20px;
  animation: blingking .7s infinite;
}
.product-skeleton-price {
  margin-top: 10px;
  background-color: whitesmoke;
  height: 20px;
  animation: blingking 1s infinite;
}

@keyframes blingking {
 0% {
   opacity: 1;
 }
 50% {
   opacity: 0;
 }
 100% {
   opacity: 1;
 }
}